@page "/Accounts"

@inject IAccountService AccountService

<PageTitle>All Accounts</PageTitle>

<ModelList Items="_accounts">
    <TableHeader>
        <th>ID</th>
        <th>Owner</th>
        <th>Number</th>
        <th>Balance</th>
        <th>Total Profit</th>
    </TableHeader>
    <TableBody Context="account">
        <td>@account.Id</td>
        <td>@account.Owner.FullName</td>
        <td>@account.Number</td>
        <td>@account.Balance</td>
        <td>@account.TotalProfit</td>
    </TableBody>
</ModelList>

@code {
    private IEnumerable<Account> _accounts = null!;

    protected override async Task OnInitializedAsync() => _accounts = await AccountService.GetAllAsync();
}