@page "/depositors"

@inject IDepositorService DepositorService

<PageTitle>All Depositors</PageTitle>

<ModelList Items="@_depositors">
    <TableHeader>
        <tr>
            <th>ID</th>
            <th>Full Name</th>
            <th>Passport</th>
            <th>Address</th>
        </tr>
    </TableHeader>
    <TableBody Context="depositor">
        <td>@depositor.Id</td>
        <td>@depositor.FullName</td>
        <td>@depositor.Passport</td>
        <td>@depositor.Address</td>
    </TableBody>
</ModelList>

@code {
    private IEnumerable<Depositor> _depositors = null!;

    protected override async Task OnInitializedAsync() => _depositors = await DepositorService.GetAllAsync();
}