@page "/Deposits"

@inject IDepositService DepositService

<PageTitle>All Deposits</PageTitle>

<h1>All Deposits</h1>

<ModelList Items="_deposits">
    <TableHeader>
        <th>Id</th>
        <th>Account</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Rate</th>
        <th>Amount</th>
        <th>Profit</th>
    </TableHeader>
    <TableBody Context="deposit">
        <td> @deposit.Id </td>
        <td>@deposit.Account.Number</td>
        <td>@deposit.StartDate</td>
        <td>@deposit.EndDate</td>
        <td>@deposit.Rate</td>
        <td>@deposit.Amount</td>
        <td>@deposit.Profit</td>
    </TableBody>
</ModelList>

@code {

    private IEnumerable<Deposit> _deposits = null!;

    protected override async Task OnInitializedAsync() => _deposits = await DepositService.GetAllAsync();
}